html, body, #__next {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#page {
  width: 100%;
}
#content {
  max-width: 650px;
  width: 100%;
  padding: 0;
  margin: auto;
  margin-top: 30px;
  min-height: 80vh;
}

#particles {
  position: absolute;
}

#footer {
  position: absolute;
  width: 85%;
  max-width: 730px;
  margin: auto;
  bottom: 15px;
  left: 0;
  right: 0;
}

#masthead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.grid-filter {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.grid-filter span {
  padding: 1px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.drawer-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.drawer-link svg {
  align-self: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#big-logo-container {
  padding-left: 25px;
}

#nav-container {
  padding-right: 40px;
}

@media only screen and (max-width: 600px) {
  #big-logo-container {
    padding-left: 15px;
  }

  #nav-container {
    padding-right: 20px;
  }
}

.header-container-drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
}

#theme-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
}

#big-logo-container {
  margin-top: 7px;
  margin-right: 20px;
  user-select: none;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header {
  max-width: 720px;
  backdrop-filter: blur(15px) saturate(2);
}

.cover-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cover-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #000;
}

.card {
  min-height: fit-content;
  height: 100% !important;
  max-height: 350px;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.rainbow {
  box-sizing: border-box;
  padding: 4px;
  border-radius: 100%;
  background: linear-gradient(45deg, #f81ce6 0%, #79ffe1 100%);
}

.header-button, .header-button:hover, .header-button:focus {
  border: 0.5px solid #888 !important;
}

.hero-img-small {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.hero-img-big {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.markdown-body {
  width: 100%;
}

.markdown-body iframe {
  border: none;
  height: 120px;
}

.markdown-body table {
  margin-left: auto;
  margin-right: auto;
}

.markdown-body th {
  text-align: left;
}

.markdown-body td {
  padding: 3px;
}

.markdown-body details {
  padding: 10px;
  border-radius: 5px;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  height: 300px;
  width: auto;
}

#hype-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#hype-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#hype-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skip-hype-video {
  opacity: 0.5;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: blue;
}

#skip-hype-video:hover {
  opacity: 1;
}

.goat {
  cursor: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/325/goat_1f410.png) 2 2, crosshair !important;
}