html, body, #__next {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#page {
  max-width: 700px;
  width: 100%;
}

#particles {
  position: absolute;
}

#footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}

#masthead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.grid-filter {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  flex-wrap: wrap;
  background-color: transparent;
}

.grid-filter span {
  padding: 1px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.drawer-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.drawer-link svg {
  align-self: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-container-drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
}

#theme-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
}

#big-logo-container {
  margin-top: 7px;
  margin-right: 20px;
  user-select: none;
}

.cover-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cover-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #000;
}

.card {
  min-height: fit-content;
  height: 100% !important;
  max-height: 350px;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.rainbow {
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  border-radius: 50%;
}

.hero-img-small {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.hero-img-big {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.markdown-body {
  width: 100%;
}

.markdown-body iframe {
  border: none;
  height: 120px;
}

.markdown-body table {
  margin-left: auto;
  margin-right: auto;
}

.markdown-body th {
  text-align: left;
}

.markdown-body td {
  padding: 3px;
}

.markdown-body details {
  padding: 10px;
  border-radius: 5px;
}

.image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  height: 300px;
  width: auto;
}